USE [bd_cinema]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[Nome] [nvarchar](256) NULL,
	[CPF] [varchar](20) NULL,
	[DataNascimento] [date] NULL,
	[Telefone] [varchar](20) NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[PhoneNumber] [varchar](50) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[UsuarioAtivo] [bit] NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SecurityToken]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SecurityToken](
	[IdSecurityToken] [nvarchar](450) NOT NULL,
	[Authenticated] [varchar](5) NOT NULL,
	[Created] [datetime] NOT NULL,
	[Expiration] [datetime] NOT NULL,
	[AccessToken] [nvarchar](max) NOT NULL,
	[RefreshToken] [nvarchar](450) NOT NULL,
	[Message] [varchar](100) NOT NULL,
 CONSTRAINT [PK_TB_SECURITYTOKEN] PRIMARY KEY CLUSTERED 
(
	[IdSecurityToken] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_filme]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_filme](
	[IdFilme] [varchar](450) NOT NULL,
	[Titulo] [varchar](150) NOT NULL,
	[Descricao] [varchar](800) NULL,
	[Imagem] [varchar](455) NULL,
	[Caminho] [varchar](350) NULL,
	[Duracao] [varchar](5) NOT NULL,
	[DataRegistro] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[IdUsuario] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_tb_filme] PRIMARY KEY CLUSTERED 
(
	[IdFilme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_sala]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_sala](
	[IdSala] [varchar](450) NOT NULL,
	[Nome] [varchar](150) NOT NULL,
	[QuantidadeAssento] [int] NOT NULL,
	[DataRegistro] [datetime] NOT NULL,
	[Ativo] [bit] NOT NULL,
	[IdUsuario] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_tb_sala] PRIMARY KEY CLUSTERED 
(
	[IdSala] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_sessao]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_sessao](
	[IdSessao] [varchar](450) NOT NULL,
	[DataSessao] [date] NOT NULL,
	[HoraInicioSessao] [varchar](5) NOT NULL,
	[HoraFimSessao] [varchar](5) NOT NULL,
	[ValorIngresso] [float] NOT NULL,
	[TipoAnimacao] [varchar](2) NOT NULL,
	[TipoAudio] [varchar](8) NOT NULL,
	[DataRegistro] [datetime] NOT NULL,
	[Ativo] [bit] NULL,
	[IdUsuario] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_tb_sessao] PRIMARY KEY CLUSTERED 
(
	[IdSessao] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tb_sessao_filme]    Script Date: 17/05/2021 20:12:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tb_sessao_filme](
	[IdFilmeSessao] [varchar](450) NULL,
	[IdFilme] [varchar](450) NULL,
	[IdSala] [varchar](450) NULL,
	[IdSessao] [varchar](450) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'4cc1b73d-1a1a-417a-ad32-1e7d43ed08bb', N'071cbf6e-b28d-41a8-9ddb-d7382b6ea2a8', N'ADM', N'ADM')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'7d5a642f-478d-4d1f-97e7-44b175e87b7a', N'9d31ddab-8d50-4d9f-8ca9-3956ae423662', N'Deposito', N'DEPOSITO')
INSERT [dbo].[AspNetRoles] ([Id], [ConcurrencyStamp], [Name], [NormalizedName]) VALUES (N'985b2caa-4da1-4c1a-9c05-da6e027d8c15', N'f0f1797b-a12f-48f1-8744-fb440b70d686', N'Financeiro', N'FINANCEIRO')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c', N'b6945246-9405-4d1f-9515-742c887a2870')
INSERT [dbo].[tb_filme] ([IdFilme], [Titulo], [Descricao], [Imagem], [Caminho], [Duracao], [DataRegistro], [Ativo], [IdUsuario]) VALUES (N'601e5714-a687-4b45-87cb-3a04bb3432f6', N'teste 01', N'teste 01', N'tela_nlw02.PNG', N'wwwroot\\images\\filme', N'01:00', CAST(N'2021-05-17 12:13:42.993' AS DateTime), 1, N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c')
INSERT [dbo].[tb_sala] ([IdSala], [Nome], [QuantidadeAssento], [DataRegistro], [Ativo], [IdUsuario]) VALUES (N'12774187-0419-41DE-9567-E1DB64A6BD36', N'Sala 03', 100, CAST(N'2021-05-12 23:25:10.000' AS DateTime), 1, N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c')
INSERT [dbo].[tb_sala] ([IdSala], [Nome], [QuantidadeAssento], [DataRegistro], [Ativo], [IdUsuario]) VALUES (N'57A83949-34FC-4829-ACCF-5E0CE9697F06', N'Sala 01', 50, CAST(N'2021-05-12 23:25:00.000' AS DateTime), 1, N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c')
INSERT [dbo].[tb_sala] ([IdSala], [Nome], [QuantidadeAssento], [DataRegistro], [Ativo], [IdUsuario]) VALUES (N'C4075C6D-3B5E-45E4-8E02-8FF4E2C04E60', N'Sala 02', 74, CAST(N'2021-05-12 23:25:05.000' AS DateTime), 1, N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c')
INSERT [dbo].[tb_sessao] ([IdSessao], [DataSessao], [HoraInicioSessao], [HoraFimSessao], [ValorIngresso], [TipoAnimacao], [TipoAudio], [DataRegistro], [Ativo], [IdUsuario]) VALUES (N'070ca962-f30b-4a04-b137-cc9840c3597c', CAST(N'2021-05-15' AS Date), N'00:35', N'03:05', 25, N'3d', N'Dublado', CAST(N'2021-05-15 00:12:17.860' AS DateTime), 1, N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c')
INSERT [dbo].[tb_sessao] ([IdSessao], [DataSessao], [HoraInicioSessao], [HoraFimSessao], [ValorIngresso], [TipoAnimacao], [TipoAudio], [DataRegistro], [Ativo], [IdUsuario]) VALUES (N'0b1ff34b-c947-4dd6-98b7-adb41dc5177a', CAST(N'2021-05-17' AS Date), N'15:00', N'17:30', 25, N'3d', N'Original', CAST(N'2021-05-17 12:23:32.817' AS DateTime), 1, N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c')
INSERT [dbo].[tb_sessao] ([IdSessao], [DataSessao], [HoraInicioSessao], [HoraFimSessao], [ValorIngresso], [TipoAnimacao], [TipoAudio], [DataRegistro], [Ativo], [IdUsuario]) VALUES (N'796f3d2f-27be-4844-aa28-6d845022c3f1', CAST(N'2021-10-10' AS Date), N'01:15', N'10:00', 12, N'2d', N'Dublado', CAST(N'2021-05-14 12:26:05.300' AS DateTime), 1, N'5e7c17d1-2f47-4b9f-a6de-fc260a735d6c')
INSERT [dbo].[tb_sessao_filme] ([IdFilmeSessao], [IdFilme], [IdSala], [IdSessao]) VALUES (N'bda4f07d-6e47-4f7e-ac02-657381c81b16', N'4ac4219e-6a88-4045-8627-c482b1c664fd', N'C4075C6D-3B5E-45E4-8E02-8FF4E2C04E60', N'c951dfee-4374-4058-a47a-42631b697913')
INSERT [dbo].[tb_sessao_filme] ([IdFilmeSessao], [IdFilme], [IdSala], [IdSessao]) VALUES (N'49675b83-4d62-4dbb-89ba-139ca760129b', N'6731DD97-FF12-41B2-B87D-C257485AE6D8', N'C4075C6D-3B5E-45E4-8E02-8FF4E2C04E60', N'f3b1fd7b-1d10-4b6f-ba9c-1997921c0754')
INSERT [dbo].[tb_sessao_filme] ([IdFilmeSessao], [IdFilme], [IdSala], [IdSessao]) VALUES (N'ffaeb834-0f46-4272-b3e6-06f9da46d8ee', N'537C608E-DD65-4839-ACD8-C7D5190FDED5', N'57A83949-34FC-4829-ACCF-5E0CE9697F06', N'e29bf06e-5cb1-4ec4-8f2a-e77f5351297a')
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[tb_filme]  WITH CHECK ADD  CONSTRAINT [FK_tb_filme_AspNetUsers] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tb_filme] CHECK CONSTRAINT [FK_tb_filme_AspNetUsers]
GO
ALTER TABLE [dbo].[tb_sala]  WITH CHECK ADD  CONSTRAINT [FK_tb_sala_AspNetUsers] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tb_sala] CHECK CONSTRAINT [FK_tb_sala_AspNetUsers]
GO
ALTER TABLE [dbo].[tb_sessao]  WITH CHECK ADD  CONSTRAINT [FK_tb_sessao_AspNetUsers] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[tb_sessao] CHECK CONSTRAINT [FK_tb_sessao_AspNetUsers]
GO
ALTER TABLE [dbo].[tb_sessao_filme]  WITH CHECK ADD  CONSTRAINT [FK_tb_sessao_filme_tb_filme] FOREIGN KEY([IdFilme])
REFERENCES [dbo].[tb_filme] ([IdFilme])
GO
ALTER TABLE [dbo].[tb_sessao_filme] CHECK CONSTRAINT [FK_tb_sessao_filme_tb_filme]
GO
ALTER TABLE [dbo].[tb_sessao_filme]  WITH CHECK ADD  CONSTRAINT [FK_tb_sessao_filme_tb_sala] FOREIGN KEY([IdSala])
REFERENCES [dbo].[tb_sala] ([IdSala])
GO
ALTER TABLE [dbo].[tb_sessao_filme] CHECK CONSTRAINT [FK_tb_sessao_filme_tb_sala]
GO
ALTER TABLE [dbo].[tb_sessao_filme]  WITH CHECK ADD  CONSTRAINT [FK_tb_sessao_filme_tb_sessao] FOREIGN KEY([IdSessao])
REFERENCES [dbo].[tb_sessao] ([IdSessao])
GO
ALTER TABLE [dbo].[tb_sessao_filme] CHECK CONSTRAINT [FK_tb_sessao_filme_tb_sessao]
GO
